.App {
  font-size: 10px;
}

img.itcLogo {
  max-height: 70px;
  height: 100%;
  width: 10%;
  margin: 10px;
}

img.guardLogo {
  max-height: 200px;
  height: 100%;
  width: 10%;
}

.form-label {
  font-size: 14px;
  font-family: "Times New Roman", Times, serif;
}
